
<div style="width: 700px">
    <!--this minwidth means this won't work on mobile phones-->
    <div id="message_div"  style="width: 100%;" ></div>
    <div class="row">
        <div class="col-md-3" >
            <button type="button" class="btn btn-info btn-lg" id="add_team" style="height: 50px;margin-left: 30px;">Add team</button>
        </div>
        <div id="teams" class="col-md-7" style="padding-right: 0;" >

        </div>
        <div class="col-md-2" >
            <button type="button" class="btn btn-success" id="start_game" style="height: 50px;">Start game</button>
        </div>

    </div>
    <script >
        //input thing js

        function endEdit(e) {
            let input = $(e.target),
                label = input && input.prev();
            label.text(input.val() === '' ? startscreen_consts.default_teamname : input.val());
            input.hide();
            label.show();
        }

        function hide_inputs(){
            $('.clickedit').hide()
                .focusout(endEdit)
                .keyup(function (e) {
                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                        endEdit(e);
                        return false;
                    } else {
                        return true;
                    }
                })
                .prev().click(function () {
                $(this).hide();
                $(this).next().show().focus();
            });
        }
    </script>
</div>
